/* General navbar styling */
nav {
  display: flex;
  justify-content: space-between; /* تعديل لتوزيع المحتوى */
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-right: 20px;
  position: relative;
}

/* Navbar Links */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li { margin: 0 12px; }

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  text-decoration: underline;
  color: var(--accent-color);
  transform: scale(1.05);
}

/* Menu Icon (Hamburger) */
.menu-icon {
  display: none; /* إخفاء الأيقونة في الوضع العادي */
  font-size: 24px;
  cursor: pointer;
}

/* Show menu icon and adjust menu for small screens */
@media (max-width: 768px) {
  .menu-icon {
    display: block; /* إظهار الأيقونة في الشاشات الصغيرة */
  }

  /* Hide menu by default on small screens */
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjusted position for small screens */
    left: 0;
    background-color: var(--bg-color);
    width: 100%;
    text-align: center;
    padding: 8px 0;
    margin: 0;
  }

  nav ul.show {
    display: flex; /* Show menu when 'show' class is added */
  }

  nav li {
    margin: 8px 0;
  }
}

/* Button styling */
button.theme-toggle-btn {
  background-color: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* Light mode and Dark mode icon colors */
body.light-mode button.theme-toggle-btn i {
  color: #000000;
}

body.dark-mode button.theme-toggle-btn i {
  color: #FFF;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

body.dark-mode button.theme-toggle-btn i {
  transform: rotate(180deg); /* Rotate the moon icon in dark mode */
}

button.theme-toggle-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button.theme-toggle-btn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.theme-toggle-btn i {
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
