<section class="home">
  <div class="home-content">
    <div class="profile-wrapper team-profiles">
      <img src="assets/Hussien-Shokry.jpg" alt="Hussien Profile" class="profile-pic" />
      <img src="assets/Yasmine-Amr.jpg" alt="Yasmine Profile" class="profile-pic" />
    </div>
    <h1>Welcome to Our Portfolio</h1>
    <p>We are a Full-Stack Development Team specializing in <span>Angular</span> & <span>Laravel</span>.</p>
    <div class="buttons">
      <a routerLink="/projects" class="btn">View Projects</a>
      <a routerLink="/contact" class="btn secondary">Contact Us</a>
    </div>
  </div>
</section>
